<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nowe wynagrodzenie</title>
<link rel="stylesheet" href="../static/css/edit.css" th:href="@{/css/edit.css}" >
<link rel="stylesheet" href="../static/css/button.css" th:href="@{/css/button.css}" >
</head>

<body>
	<div align="center" class="table-wrapper">
		<!-- Page header -->
		<h1>Wprowadz nowe wynagrodzenie</h1>
		<br /> <br />

		<form action="#" th:action="@{/Wynagrodzenia/save_Wynagrodzenia}"
			th:object="${Wynagrodzenia}" method="post">
			<!-- Table -->
			<table border="1" cellpadding="10" class="fl-table">



				<!-- Table second row -->
				<tr align="center">
					<th>Data:</th>
					<td><input type="date" th:field="*{data}" required></td>
				</tr>

				<!-- Table third row -->
				<tr align="center">
					<th>Kwota_podstawowa:</th>
					<td><input type="text" th:field="*{kwota_podstawowa}" class="radio" maxlength="11" onfocus="this.value=''" required></td>
				</tr>
				<!-- Table four row -->
				<tr align="center">
					<th>Kwota_dodatkowa:</th>
					<td><input type="text" th:field="*{kwota_dodatkowa}" class="radio" maxlength="11" onfocus="this.value=''"></td>
				</tr>
				<!-- Table five row -->
				<tr align="center">
					<th>Nr_pracownika:</th>
					<td><input type="number" th:field="*{nr_pracownika}" class="radio" onfocus="this.value=''" min="1" required></td>

				</tr>


				<!-- Button save -->
				<tr align="center">
					<td><a href="/Wynagrodzenia"> <input type="button" value="Powrot" />
					</a></td>
					<td><button type="submit">Zapisz</button></td>



				</tr>
			</table>
		</form>


	</div>
	<script th:if="${error}" th:inline="javascript">
	var teks = /*[[${errorTekst}]]*/
		alert(teks);
		window.history.pushState({page: "new_form_Wynagrodzenia"}, "Wprowadz nowe Wynagrodzenie", "/Wynagrodzenia/new_Wynagrodzenia");
	</script>
</body>

</html>